body{
	background-image: url(../images/fundo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center; 
	min-width: 650px;
	font-family: sans-serif;
	height: 600px;
}

p{
	color: white;
}

header{
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
	width: auto;
}	

header:hover{
	background-color: rgba(06, 17, 33, 1);
	transition: 1s ease;
}

.menu-welcome{
	margin: 0 auto;
}

nav{
	text-align: center;
}

nav ul{
	background-color: rgba(06, 17, 33, .85);
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
    font-weight: bold;
    //position: relative;
    text-align: center;
}

nav ul li{
	display: inline-block;
}

nav ul li:hover{
	text-decoration: underline;
}

nav ul li#left{
	float: left;
}

nav ul li#midle{
	text-align: center;
	padding-bottom: 6px;
}

nav ul li#right{
	float: right;
}

a{
	display: block;
  	color: rgba(255,255,255,0.8);
  	text-decoration: none;
	word-wrap: no-wrap;
	font-size: 16pt;
	top:20px;
	padding-top: 5.5px;
	padding-bottom: 2.5px;
	height: 28px;
}

a#left1{
	padding-left: 16px;
	padding-right: 15px;
}

a#left2{
	padding-left: 15px;
	border-left: 2px solid white;
	padding-right: 15px;
	border-right: 2px solid white;
}

a#right1{
	padding-left: 15px;
	padding-right: 30px;
}

a#right2{
	padding-right: 15px;
	border-right: 2px solid white;
	padding-left: 15px;
	border-left: 2px solid white;
}

a#midle{
	font-size: 20pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

a:hover{
	color: white;
}

img#logo-midle{
	width: 8%;
	display: block;
    margin: 0 auto;
    opacity: 0.5;
    filter: blur(1px);
}

img#logo-midle:hover{
	transform: scale(1.5);  
    opacity: 1;
    filter: blur(0px);
    transition: all .4s ease-in;
}

div#welcome-window{
	width: 470px;
	height: 100px;
	background-color: rgba(6,17,33,.7);
	color: #fff;
	margin-top: 45px;
	margin-left:auto;
    margin-right:auto;
    position: relative; 
    border-radius: 18px;
    text-align: center;
}

div#welcome-window:hover{
	background-color: rgba(6,17,33,.9);
}

div#welcome-window h1{
	padding-top: 5px;
}

